<tr class="{CSS_ROW}">
  <td class="std">{START}</td>
  <td class="std">{END}</td>
  <td class="std">{EVENT_TYPE}</td>
  <td class="std">{COMMENT}</td>
  <td class="std">{LOCATION}</td>
  <td class="std">{STUDENT_ID}</td>
  <td class="std">{SUPERVISOR}</td>
  <!-- BEGIN EDIT_TSTAMP --><td class="std">{EDIT_TSTAMP}</td><!-- END EDIT_TSTAMP -->
  <!-- BEGIN EDIT_USER --><td class="std">{EDIT_USER}</td> <!-- END EDIT_USER -->
  <!-- BEGIN CREATION_TSTAMP --><td class="std">{CREATION_TSTAMP}</td> <!-- END CREATION_TSTAMP -->
  <!-- BEGIN CREATION_USER --> <td class="std">{CREATION_USER}</td> <!-- END CREATION_USER -->
  <td class="std">{ACTION}</td>
</tr>
